<footer class="site-footer">
  <div class="container">
  	<div class="row visible-xs-block visible-sm-block">
  		<div class="col-sm-12">
  			<ul class="footer-menu-stacked">
  			<li><a href="{{ site.baseurl }}/sitemap/">Sitemap</a></li>
            <li><a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy</a></li>
            <li><a href="{{ site.baseurl }}/contact-us/">Contact Us</a></li>
  			</ul>
  		</div>
  	</div>
    <div class="row">
      <div class="col-md-3 visible-md-block visible-lg-block">
        <p class="footnotes">&copy; 2014 FABERNOVEL, Inc. All Rights Reserved</p>
      </div>
      <div class="col-md-7 visible-md-block visible-lg-block">
      	<ul class="footer-menu">
      		<li><a href="{{ site.baseurl }}/sitemap/">Sitemap</a></li>
            <li><a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy</a></li>
            <li><a href="{{ site.baseurl }}/contact-us/">Contact Us</a></li>
      	</ul>
      </div>
      <div class="col-md-2 col-sm-12">
      	<center>FOLLOW US: <ul class="footer-social-links"><li><a href="https://twitter.com/fabernovel_us"><i class="fa fa-twitter fa-2x"></i></a></li><li><a href="https://www.linkedin.com/company/fabernovel-us"><i class="fa fa-linkedin fa-2x"></i></a></li></ul></center>
      </div>
    </div>
    <div class="row visible-xs-block visible-sm-block">
  		<div class="col-sm-12">
  			<center><p class="footnotes">&copy; 2014 FABERNOVEL, Inc. All Rights Reserved</p></center>
  		</div>
	</div>
  </div>
</footer>
