<header class="site-header">

  <nav class="main-nav container" role="navigation">
    <ul class="logo">
      <li>
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo_fabernovel.png" width="204"></a>
        <ul class="visible-lg-block">
          <li><span style="color:#53da3f;">//</span> Together, we craft the future of your industry at startup speed.</li>
        </ul>
      </li>
    </ul>
    <div class="nav-menu-container visible-md-block visible-lg-block">

      <div id="region-selector">
        <i class="fa fa-map-marker fa-inverse" style="color:#53da3f;"></i> US
        <a href="#">Change region</a>
      </div>

      <ul id="nav-menu">
        <li class="nav-menu-item">
          <a class="nav-menu-title">About Us</a>
          <ul class="nav-sub-menu">
            <li class="nav-selector-icon"><i class="fa fa-angle-down fa-lg"></i></li>
            <li><a href="{{ site.baseurl }}/about/company/">Our company</a></li>
            <li><a href="{{ site.baseurl }}/about/history/">History</a></li>
            <li><a href="{{ site.baseurl }}/about/team/">Team</a></li>
            <li><a href="{{ site.baseurl }}/about/careers/">Careers</a></li>
          </ul>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-title">Consulting Services</a>
          <ul class="nav-sub-menu">
            <li class="nav-selector-icon"><i class="fa fa-angle-down fa-lg"></i></li>
            <li><a href="{{ site.baseurl }}/consulting-services/driving-new-growth/">Driving New Growth</a></li>
            <li><a href="{{ site.baseurl }}/consulting-services/defending-turf/">Defending Turf</a></li>
            <li><a href="{{ site.baseurl }}/consulting-services/evolve-operating-model/">Evolve the Operating Model</a></li>
            <li><a href="{{ site.baseurl }}/consulting-services/innovation-culture/">Innovation Culture</a></li>
          </ul>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-title">Industries</a>
          <ul class="nav-sub-menu">
            <li class="nav-selector-icon"><i class="fa fa-angle-down fa-lg"></i></li>
            <li><a href="{{ site.baseurl }}/industries/transportation/">Transportation</a></li>
            <li><a href="{{ site.baseurl }}/industries/retail/">Retail</a></li>
            <li><a href="{{ site.baseurl }}/industries/financial-services/">Financial Services</a></li>
            <li><a href="{{ site.baseurl }}/industries/healthcare/">Healthcare</a></li>
            <li><a href="{{ site.baseurl }}/industries/high-tech/">High-Tech</a></li>
            <li><a href="{{ site.baseurl }}/industries/public-sector/">Public Sector</a></li>
          </ul>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-title notree" href="{{ site.baseurl }}/insights/">Insights</a>
        </li>
      </ul>
    </div>

    <button id="toggle-stacked-menu" type="button" class="navbar-toggle visible-sm-block visible-xs-block" data-toggle="collapse" data-target="#stacked-menu">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

  </nav>


  <!-- <a href="#" id="toggle-stacked-menu" class="visible-sm-block visible-xs-block"></a> -->

  <div class="hover-menu visible-md-block visible-lg-block"></div>

  <div id="stacked-menu" style="display: none;">
    
      <div class="row"></div>
      <div class="row">
        <div class="col-xs-6 menu-section left-menu">
          <a class="stacked-menu-title">About Us</a>
          <ul>
            <li><a href="{{ site.baseurl }}/about/company/">Our company</a></li>
            <li><a href="{{ site.baseurl }}/about/history/">History</a></li>
            <li><a href="{{ site.baseurl }}/about/team/">Team</a></li>
            <li><a href="{{ site.baseurl }}/about/careers/">Careers</a></li>
          </ul>
        </div>
        <div class="col-xs-6 menu-section">
          <a class="stacked-menu-title">Consulting Services</a>
          <ul>
            <li><a href="{{ site.baseurl }}/consulting-services/driving-new-growth/">Driving New Growth</a></li>
            <li><a href="{{ site.baseurl }}/consulting-services/defending-turf/">Defending Turf</a></li>
            <li><a href="{{ site.baseurl }}/consulting-services/evolve-operating-model/">Evolve the Operating Model</a></li>
            <li><a href="{{ site.baseurl }}/consulting-services/innovation-culture/">Innovation Culture</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 menu-section left-menu">
        <a class="stacked-menu-title">Industries</a>
          <ul>
            <li><a href="{{ site.baseurl }}/industries/transportation/">Transportation</a></li>
            <li><a href="{{ site.baseurl }}/industries/retail/">Retail</a></li>
            <li><a href="{{ site.baseurl }}/industries/financial-services/">Financial Services</a></li>
            <li><a href="{{ site.baseurl }}/industries/healthcare/">Healthcare</a></li>
            <li><a href="{{ site.baseurl }}/industries/high-tech/">High-Tech</a></li>
            <li><a href="{{ site.baseurl }}/industries/public-sector/">Public Sector</a></li>
          </ul>
        </div>
        <div class="col-xs-6 menu-section">
          <a class="stacked-menu-title notree"href="{{ site.baseurl }}/insights/">Insights</a>
        </div>
      </div>
      
  </div>

</header>
