<header class="site-header">

  <nav class="main-nav container" role="navigation">
    <ul class="logo">
      <li>
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/logo_fabernovel.png"></a>
        <ul>
          <li><span style="color:#53da3f;">//</span> Together, we craft the future of your Our company industry at startup speed.</li>
        </ul>
      </li>
    </ul>
    <div class="nav-menu-container">
      <ul id="nav-menu">
        <li class="nav-menu-item">
          <a class="nav-menu-title">About Us</a>
          <ul class="nav-sub-menu">
            <li><a href="{{ site.baseurl }}/about/company/">Our company</a></li>
            <li><a href="{{ site.baseurl }}/about/history/">History</a></li>
            <li><a href="{{ site.baseurl }}/about/team/">Team</a></li>
            <li><a href="{{ site.baseurl }}/about/key-figures/">Key figures</a></li>
            <li><a href="{{ site.baseurl }}/about/careers/">Careers</a></li>
          </ul>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-title bold-adjust-2">Consulting Services</a>
          <ul class="nav-sub-menu">
            <li><a href="{{ site.baseurl }}/consulting-services/finding-growth/">Finding Growth</a></li>
            <li><a href="{{ site.baseurl }}/consulting-services/defending-turf/">Defending Turf</a></li>
            <li><a href="{{ site.baseurl }}/consulting-services/innovating-function/">Innovating Function</a></li>
            <li><a href="{{ site.baseurl }}/consulting-services/cultivating-innovation/">Cultivating Innovation</a></li>
          </ul>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-title">Industries</a>
          <ul class="nav-sub-menu">
            <li><a href="{{ site.baseurl }}/industries/automotive/">Automotive</a></li>
            <li><a href="{{ site.baseurl }}/industries/retail/">Retail</a></li>
            <li><a href="{{ site.baseurl }}/industries/financial-services/">Financial Services</a></li>
            <li><a href="{{ site.baseurl }}/industries/healthcare/">Healthcare</a></li>
            <li><a href="{{ site.baseurl }}/industries/technology/">Technology</a></li>
            <li><a href="{{ site.baseurl }}/industries/public-sector/">Public Sector</a></li>
          </ul>
        </li>
        <li class="nav-menu-item">
          <a class="nav-menu-title notree bold-adjust-1"href="{{ site.baseurl }}/insights/">Insights</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="hover-menu"></div>

  <a href="#" id="toggle-stacked-menu"></a>

  <div class="stacked-menu">
    
  </div>

</header>
