/* NAV */

header{
  width: 100%;
  position: absolute;
  z-index: 3000;
  background: #fff;
  top:0;
  height: 60px;
}

header a:hover{
  text-decoration: none;
}


#content{
  margin-top: 60px;
}

header ul{
  list-style-type: none;
  padding:0; 
}

.main-nav{
  height: 60px;
}

#nav-menu li a{
  color: rgb(37,37,37);
  font-size: 14px;
  text-transform: uppercase;
}

.logo{
  padding-top: 16px;
  float: left;
  display: block;
  position: relative;
  padding-bottom: 18px;
  color: #989898;
}

.logo li > ul {
  position: absolute;
  visibility: hidden;
  width:130%;
  display: block;
  margin-top: 20px;
}

#region-selector{
  text-align: right;
  float: right;
  font-size: 14px;
  font-weight: 600;
  color: rgb(37,37,37);
  padding-top: 16px;
  margin-left: 60px;
  margin-right: -20px;
  line-height: 11px;
}
#region-selector img{
  height: 16px;
  width: auto;
  margin-top: -4px;
}
#region-selector a{
  color: #989898;
  font-size: 10px;
  font-weight: 400;
}
#region-selector a:hover{
  color: #53da3f;
}


#nav-menu{
  float:right;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

#nav-menu li{
  display: inline-block;
  margin-left: 60px;

}

#nav-menu li > ul{
  position: absolute;
  padding-top: 20px;
  visibility: hidden;
  height: 0px;
  width: auto;
}

#nav-menu ul li{
  float:none;
  position: relative;
  margin-left: 0;
  display: block;
  white-space: nowrap;
}
#nav-menu ul li a{
  text-transform: none;
  color:#989898;
}

#nav-menu li a.notree:hover{
  color:#53da3f;
}

#nav-menu ul li a:hover{
  color:#53da3f;
}


.hover-menu{   
   position: relative;
   background: #fff;
   width: 100%;  
   margin-top: 0px;
   visibility: hidden;
   height: 0px;
  
}


/* Hover nav*/

header:hover #nav-menu{
  overflow: visible;
}

header:hover #nav-menu li > ul{
  height: 95px;
  display: block;
  visibility: visible;
  z-index: 999;
}

header:hover .logo li > ul {
  visibility: visible;
  z-index: 999;
}

header:hover #nav-menu li ul li > ul{
  display: none;
  z-index: 999;
}

header:hover .hover-menu{
  height: 140px;
  visibility: visible;
  z-index: 240;
}

header:hover #nav-menu a{
  color: #989898;
}

#nav-menu li:hover a{
  color:rgb(37,37,37);
}

#nav-menu li:hover a.nav-menu-title{
  font-weight: 600;
}

#nav-menu li:hover a.nav-menu-title.bold-adjust-1{
  margin-left: -1px;
}
#nav-menu li:hover a.nav-menu-title.bold-adjust-2{
  margin: 0 -1px;
}

/* Responsive menu */



.navbar-toggle{
  border-color: #989898;
  margin-top: 13px;
  margin-right: 0px;
}

.navbar-toggle .icon-bar{
  background-color: rgb(37,37,37);
}

.navbar-toggle:hover{
  background-color: #53da3f;
  border-color: #53da3f;
}

.navbar-toggle:hover > .icon-bar, .navbar-toggle:focus > .icon-bar {
  background-color: white;
}

.navbar-toggle:focus{
  background-color: #53da3f;
  border-color: #53da3f;
}



#stacked-menu{
  background-color: white;
  position: relative;
  width: 100%;
  margin-top: 0;
}

#stacked-menu .row{
  border-bottom:1px solid #989898;
  margin-left: 0px;
  margin-right: 0px;
}

#stacked-menu .row div{
  min-height: 150px;
}

#stacked-menu .row .left-menu{
  border-right:1px solid #989898;
}

#stacked-menu a{
  color:rgb(37,37,37);
}
#stacked-menu a:hover{
  color:#53da3f;
}

#stacked-menu a.stacked-menu-title{
  color:rgb(37,37,37);
  font-weight: 600;
}

#stacked-menu .menu-section{
  padding:10px 15px;
}

#stacked-menu ul{
  margin-top: 10px;
  font-size: 12px;
}
#stacked-menu ul li{
  margin-bottom: 5px;
}


/*  FOOTER  */

footer{
  margin-top: 70px;
  margin-bottom: 50px;
}

footer .footnotes{
  color:#989898;
  padding-top: 10px;
  font-size: 12px;
}


footer .footer-menu{
  list-style-type: none;
  position: relative;
  right:0;
  left:auto;
  float:right;
  padding-top: 10px;
}


footer .footer-menu li{
  display: inline-block;
  margin-right: 60px;
}

footer .footer-menu li a{
  color:#989898;
}

footer .footer-menu li a:hover{
  color:#53da3f;
  text-decoration: none;
}

footer .footer-social-links{
  display: inline-block;
  list-style-type: none;
  padding: 0;

}


footer .footer-social-links li{
  display: inline-block;
  margin-left: 10px;
}
footer .footer-social-links li a{
  color: rgb(37,37,37);
}
footer .footer-social-links li a:hover{
  color:#53da3f;
}


footer .footer-menu-stacked{
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-bottom: 50px
}


footer .footer-menu-stacked li{
  margin-top: 20px;
}

footer .footer-menu-stacked li a{
  color:#989898;
  font-size: 16px;
}

footer .footer-menu-stacked li a:hover{
  color:#53da3f;
  text-decoration: none;
}

/* Social plugins */
footer .share-title{
  padding-left: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 12px;
  color: rgb(37,37,37);
  text-transform: uppercase;
}

footer .page-social-links{
  list-style-type: none;
  padding: 0;
  padding-left: 10px;
}

footer .page-social-links li{
  margin-top: 8px;
}

article .social-nav{
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
  float: right;
}
article .fb-like{
  margin-top: -20px;
  position: absolute;
}

article .social-nav li{
  display: inline-block;
  margin-right: 10px;
  width: 100px;
}

/* Home */
.highlights-vertical-box img{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.highlights-vertical-box .post-title{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5px;
}

.highlights-vertical-box .post-excerpt{
  font-size: 12px;
}


/* INSIGHTS SECTION */

article .post-excerpt{
  font-size: 12px;
  color: #989898;
}

article .date{
  font-size: 12px;
  font-weight: 600;
}

article .post-type{
  color:#989898;
  font-size: 12px;
  text-transform: uppercase;
}

article img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100%;
}

/* SIDE BAR */

.insights-sidebar .white-paper-img{
  width:100%;
  height:auto;
  margin-bottom: 10px;
}

.insights-sidebar .white-paper-title{
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.insights-sidebar .white-paper-excerpt{
  font-size: 12px;
}

/* Index view */

article.article-list{
  margin-bottom: 30px;
}

article .article-thumbnail{
  max-height: 180px;
  overflow: hidden;
}

article .article-thumbnail img{
  margin-top: 20px;
  height:auto;
  width: 100%;
  position: relative;
}

.article-list h3{
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.article-list h3 small{
  color:#989898;
  font-size: 12px;
  text-transform: none;
}



.article-list .post-excerpt{
  color: rgb(37,37,37);
}

article .post-link{
  color:#53da3f;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

article .post-link a{
  color:rgb(37,37,37);
}

/* Single view */

article h2{
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
}

article .post-author{
  font-size: 12px;
  color:#989898;
}

article .dateline{
  margin-top: 20px;
  margin-bottom: 50px;
}