
/*GENERAL ELEMENTS*/

a.plus-button{
  color:white;
  background-color:#53da3f;
  padding: 0 8px;
  margin-left: 10px;
  border-radius: 20px; 
}
a.plus-button:hover{
  background-color: rgb(37,37,37)
}

a.action-button{
  display: inline-block;
  color:white;
  font-size: 16px;
  font-weight: 400;
  background-color:#53da3f;
  padding: 10px 20px;
  border-radius: 30px; 
  text-transform: uppercase;
  text-align: center;
}

a.action-button:hover{
  background-color: rgb(37,37,37)
}

.border-row{
  border-left:2px solid #f4f4f4;
  border-right:2px solid #f4f4f4;
}
.fabernovel-border-left{
  border-left:2px solid #f4f4f4;
}
.fabernovel-border-bottom{
  border-bottom:2px solid #f4f4f4;
}

.padding-top-20{
  padding-top: 20px;
}
.padding-top-40{
  padding-top: 40px;
}
.padding-bottom-20{
  padding-bottom: 20px;
}
.padding-bottom-40{
  padding-bottom: 40px;
}

h1, h2, h3{
  font-weight:300;
  text-transform: uppercase;
}
h2{
  margin-bottom: 30px;
}
h3{
  margin-bottom: 30px; 
}

a.link-more{
  color:rgb(37,37,37);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}
a.link-more:hover{
  color:#53da3f;
}

a.link-more:after{
  content: "\f105";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color:#53da3f;
  font-size: 16px;
  position: relative;
  top:1px;
  left: 10px;
}

/* NAV */

header{
  width: 100%;
  position: absolute;
  z-index: 3000;
  background: #fff;
  top:0;
  height: 60px;
}

header a:hover{
  text-decoration: none;
}


#content{
  margin-top: 60px;
}

header ul{
  list-style-type: none;
  padding:0; 
}

.main-nav{
  height: 60px;
}

#nav-menu li a.nav-menu-title{
  color: rgb(37,37,37);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.logo{
  padding-top: 16px;
  float: left;
  display: block;
  position: relative;
  padding-bottom: 18px;
  color: #a1a1a1;
}

.logo li > ul {
  position: absolute;
  visibility: hidden;
  width:130%;
  display: block;
  margin-top: 20px;
}

#region-selector{
  color:#a1a1a1;
  text-align: right;
  float: right;
  font-size: 14px;
  font-weight: 600;
  padding-top: 12px;
  margin-left: 60px;
  margin-right: -20px;
  line-height: 11px;
}
#region-selector a{
  display: block;
  color: #a1a1a1;
  font-size: 10px;
  font-weight: 400;
  border-top: 1px solid #a1a1a1;
  margin-top: 4px;
  padding-top: 2px;
}
#region-selector a:hover{
  color: #53da3f;
}


#nav-menu{
  float:right;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

#nav-menu li{
  display: inline-block;
  margin-left: 60px;

}

#nav-menu li > ul{
  position: absolute;
  padding-top: 0px;
  visibility: hidden;
  height: 0px;
  width: auto;
}

#nav-menu ul li{
  float:none;
  position: relative;
  margin-left: 0;
  display: block;
  margin-top: 7px;
  white-space: nowrap;
}
#nav-menu ul li a{
  text-transform: none;
  color:#a1a1a1;
}

#nav-menu li a.notree:hover{
  color:#53da3f;
}

#nav-menu ul li a:hover{
  color:#53da3f;
}


.hover-menu{   
   position: relative;
   background: #fff;
   width: 100%;  
   margin-top: 0px;
   visibility: hidden;
   height: 0px;
   border-bottom:3px solid #53da3f;
  
}
.nav-selector-icon{
  color:white;
}

/* Hover nav*/

header:hover #nav-menu{
  overflow: visible;
}

header:hover #nav-menu li > ul{
  height: 95px;
  display: block;
  visibility: visible;
  z-index: 999;
}

header:hover .logo li > ul {
  visibility: visible;
  z-index: 999;
}

header:hover #nav-menu li ul li > ul{
  display: none;
  z-index: 999;
}

header:hover .hover-menu{
  height: 200px;
  visibility: visible;
  z-index: 240;
}

header:hover #nav-menu a{
  color: #a1a1a1;
}

#nav-menu li:hover a{
  color:rgb(37,37,37);
}


#nav-menu li:hover .nav-selector-icon{
  color:#53da3f;
}


/* Responsive menu */



.navbar-toggle{
  border-color: #a1a1a1;
  margin-top: 13px;
  margin-right: 0px;
}

.navbar-toggle .icon-bar{
  background-color: rgb(37,37,37);
}

.navbar-toggle:hover{
  background-color: #53da3f;
  border-color: #53da3f;
}

.navbar-toggle:hover > .icon-bar, .navbar-toggle:focus > .icon-bar {
  background-color: white;
}

.navbar-toggle:focus{
  background-color: #53da3f;
  border-color: #53da3f;
}



#stacked-menu{
  background-color: white;
  position: relative;
  width: 100%;
  margin-top: 0;
}

#stacked-menu .row{
  border-bottom:1px solid #a1a1a1;
  margin-left: 0px;
  margin-right: 0px;
}

#stacked-menu .row div{
  min-height: 150px;
}

#stacked-menu .row .left-menu{
  border-right:1px solid #a1a1a1;
}

#stacked-menu a{
  color:rgb(37,37,37);
}
#stacked-menu a:hover{
  color:#53da3f;
}

#stacked-menu a.stacked-menu-title{
  color:rgb(37,37,37);
  font-weight: 600;
}

#stacked-menu .menu-section{
  padding:10px 15px;
}

#stacked-menu ul{
  margin-top: 10px;
  font-size: 12px;
}
#stacked-menu ul li{
  margin-bottom: 5px;
}


/*HEADER*/
.jumbotron{
  margin-bottom: 0;
}


.jumbotron h1{
  font-weight: 300;
  text-transform: uppercase;
  color:white;
  text-shadow: 0px 0px 20px black;

}

.jumbotron p{
  color:white;
  margin-top: 20px;
}

.jumbotron p.dark-bg{
  text-shadow: 0px 0px 20px black;
}

.homepage-banner{
  background: url("../../img/homepage-banner.png") no-repeat left bottom;
  background-size: cover;
}


/*  FOOTER  */

footer{
  
  
}

footer .first-row{
  border-top:2px solid #f4f4f4;
  border-bottom:2px solid #f4f4f4;
}

footer .second-row{
  background-color: rgb(50,50,50)  
}

footer .footnotes{
  display: inline-block;
  color:#a1a1a1;
  padding-top: 22px;
  font-size: 12px;
}
footer .follow-us{
  display: inline-block;
  color:#a1a1a1;
  padding-top: 20px;
  float: right;
}

footer .action-button{
  margin-top: 10px;
  margin-bottom: 10px;
}

footer .footer-menu{
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}


footer .footer-menu li{
  display: inline-block;
  margin-right: 20px;
}

footer .footer-menu li a{
  color:#a1a1a1;
}

footer .footer-menu li a:hover{
  color:#53da3f;
  text-decoration: none;
}

footer .footer-social-links{
  display: inline-block;
  list-style-type: none;
  padding: 0;
  float: right;
  padding-top: 18px;
}


footer .footer-social-links li{
  display: inline-block;
  margin-left: 10px;
}
footer .footer-social-links li a{
  color: #a1a1a1;
}
footer .footer-social-links li a:hover{
  color:rgb(37,37,37);
}


footer .footer-menu-stacked{
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-bottom: 50px
}


footer .footer-menu-stacked li{
  margin-top: 20px;
}

footer .footer-menu-stacked li a{
  color:#a1a1a1;
  font-size: 16px;
}

footer .footer-menu-stacked li a:hover{
  color:#53da3f;
  text-decoration: none;
}

footer .fabernovel-group{
  display: inline-block;
  float:right;
  margin-top: 17px;
  color:#a1a1a1;
  font-weight: 300;
}
footer .fabernovel-group img{
  margin-left: 10px;
}
/* Social plugins */
footer .share-title{
  float:left;
  padding-left: 10px;
  margin-top: 21px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

footer .page-social-links{
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

footer .page-social-links li{
  display: inline-block;
  margin-right: 10px;
  width: 95px;
}

footer .fb-like{
  margin-top: -20px;
  position: absolute;
}

/* Home */
.highlights-vertical-box{
  min-height: 500px;
  border-left:2px solid #f4f4f4;
}
.highlights-vertical-box img{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.highlights-vertical-box .post-title{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5px;
}

.highlights-vertical-box .post-excerpt{
  font-size: 12px;
}


/* INSIGHTS SECTION */

article .post-excerpt{
  font-size: 12px;
  color: #a1a1a1;
}

article .date{
  font-size: 12px;
  font-weight: 600;
}

article .post-type{
  color:#a1a1a1;
  font-size: 12px;
  text-transform: uppercase;
}

article img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100%;
}

/* SIDE BAR */

.sidebar{
  border-left: 2px solid #f4f4f4;
}

.insights-sidebar .white-paper-img{
  width:100%;
  height:auto;
  margin-bottom: 10px;
}

.insights-sidebar .white-paper-title{
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.insights-sidebar .white-paper-excerpt{
  font-size: 12px;
}

/* Index view */

article.article-list .row{
  padding-bottom: 20px;
}

article .article-thumbnail{
  max-height: 250px;
  overflow: hidden;
}

article .article-thumbnail img{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 0;
  height:auto;
  width: 100%;
  position: relative;
}

.article-list h3{
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.article-list h3 small{
  color:#a1a1a1;
  font-size: 12px;
  text-transform: none;
}
.article-list h3 a:hover{
  color:rgb(37,37,37);
}



.article-list .post-excerpt{
  color: rgb(37,37,37);
}

/* Single view */

.article-single{
  padding-bottom: 40px;
}

.article-single h2{
  font-size: 35px;
  font-weight: 300;
  text-transform: uppercase;
}

.article-left-sidebar .article-date{
  margin: 0;
  font-weight: 600;
  font-size: 16px;
}

.article-left-sidebar .article-author{
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  color:#a1a1a1;
  font-size: 16px;
}

.article-left-sidebar .social-nav{
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.article-left-sidebar .social-nav li{
  margin-bottom: 10px;
}

/*ABOUT*/

.about-nav{
  list-style: none;
  float: right;
}
.about-nav li{
  text-align: right;
  margin-top: 10px;
}

.about-nav a{
  color:#a1a1a1;
  text-transform: uppercase;
  padding-right: 12px;
  font-size: 12px;
}
.about-nav a:hover{
  color:#53da3f;
}
.about-nav a.active{
  color:#53da3f;
  border:2px solid rgb(37,37,37);
  border-radius: 20px;
  padding: 3px 10px;
}


/* SIDEBAR CONTACT */
.contact-img{
  width:75px;
  margin-left: 20px;
}
.contact-name{
  font-weight: 300;
  font-size:30px;
  margin-bottom: 0px;
  margin-left: 20px;
}
.contact-title{
  font-size: 12px;
  color:#a1a1a1;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 20px;
}
a.contact-button{
  color:white;
  font-size: 12px;
  font-weight: 600;
  background-color: #53da3f;
  border-radius: 20px;
  padding: 7px 20px;
  text-transform: uppercase;
  margin-left: 20px;
}
a.contact-button:hover{
  background-color: rgb(37,37,37);
}
