---
layout: default
---

<div class="jumbotron">
  <div class="container">
    <h1>About Us - {{ page.title }}</h1>
  </div>
</div>


<div class="container">
	
	<div class="row">
		<div class="col-md-3">
			<ul class="about-nav">
				<li><a href="{{ site.baseurl }}/about/company/">Our company</a></li>
	            <li><a href="{{ site.baseurl }}/about/history/">History</a></li>
	            <li><a href="{{ site.baseurl }}/about/team/">Team</a></li>
	            <li><a href="{{ site.baseurl }}/about/key-figures/">Key figures</a></li>
	            <li><a href="{{ site.baseurl }}/about/careers/">Careers</a></li>
			</ul>
		</div>
		<div class="col-md-6">
			{{ content }}
		</div>
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					<h2>Contact</h2>
					<div class="row">
						<div class="col-xs-5">
							<img src="http://placehold.it/300x300" style="width:100%;height:auto;">
						</div>
						<div class="col-xs-7">
							<p class="contact-info">Jason Wolenik<br />Managing Director</p>
							<p class="email-info"><span class="glyphicon glyphicon-envelope"></span> <a href="{{ site.baseurl }}/contact/">Contact Jason</a></p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2>We solve your challenges</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p>
						<h4>Finding Growth</h4>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor feugiat odio quis sollicitudin. In blandit pellentesque libero porta vulputate.
					</p>
					<p><a href="#">Learn more</a></p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p>
						<h4>Defending Turf</h4>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor feugiat odio quis sollicitudin. In blandit pellentesque libero porta vulputate.
					</p>
					<p><a href="#">Learn more</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>
						<h4>Innovating function</h4>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor feugiat odio quis sollicitudin. In blandit pellentesque libero porta vulputate.
					</p>
					<p><a href="#">Learn more</a></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>
						<h4>Cultivating Innovation</h4>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur auctor feugiat odio quis sollicitudin. In blandit pellentesque libero porta vulputate.
					</p>
					<p><a href="#">Learn more</a></p>
				</div>
			</div>

		</div>
	</div>




</div>