---
layout: default
---

<div class="jumbotron">
  <div class="container">
    <h1>Insights</h1>
    <p><a href="{{ site.baseurl }}/insights/">View all</a></p>
  </div>
</div>


<div class="container">
	
	<div class="row">
		<div class="col-md-9">
			<article>
				<p class="post-type"><span style="color:#53da3f;">//</span> {{ page.tags.last }}</p>
				<h2>{{ page.title }}</h2>
				<p class="post-excerpt">{{ page.excerpt }}</p>
				
				<div class="row">
					<div class="col-md-4">
						<p class="dateline"><span class="date">{{ page.date | date: "%B %Y" }}</span> <span style="color:#53da3f; font-size:12px;">//</span> <span class="post-author">by {{ page.author }}</span></p>
					</div>
					<div class="col-md-8">
						<ul class="social-nav">
							<li><script type="IN/Share" data-counter="right"></script></li>
							<li><a href="https://twitter.com/share" class="twitter-share-button" data-text="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}" data-via="FABERNOVEL_US" data-related="FABERNOVEL_US">Tweet</a></li>
							<li style="width:130px;"><div class="fb-like" data-href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>							
							<li><div class="g-plusone" data-size="medium" data-annotation="inline" data-width="120"></div></li>
							
						</ul>
					</div>
				</div>

				{{ content }}
			</article>
		</div>
		<div class="col-md-3 sidebar insights-sidebar">
			<div class="row">
				<div class="col-md-12">
					A blurb about where those insights come from, what we want to do with them etc, consectetur adipiscing elit. Nam porttitor augue a sem tristique, id interdum lectus faucibus. Nulla et convallis lectus. Proin porta enim id tempus malesuada. Sed id odio nec odio dapibus vulputate. Quisque dapibus lacus vehicula, pellentesque nisi eget, varius est. Nullam nibh nunc, mollis id laoreet id, porttitor sed tortor. Praesent sed tellus risus.					
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2>Our latest White Paper</h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					{% for post in site.categories.insights %}
						{% for tag in post.tags %}
							{% if tag == "White Paper" %}
								<center><a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}/{{ post.img }}" class="white-paper-img"></a></center>
								<p class="white-paper-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
								<p class="white-paper-excerpt">{{ post.excerpt }} <a href="{{ site.baseurl }}{{ post.url }}">More</a></p>
								{% break %}
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2>Social Media</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				<a class="twitter-timeline" href="https://twitter.com/FABERNOVEL_US" data-widget-id="502573683949309952">Tweets by @FABERNOVEL_US</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
			</div>	
			
		</div>
	</div>




</div>